
.close {
	position: absolute;
	display: flex;
	bottom: 535px;
	right: 30px;
	transform: rotate(45deg);
	float: right;
}
.close  {
	font-size: 27px;
}

.bg-modal {
	width: 100%;
	height: 135%;
	background-color: rgb(0,0,0,0.7); 
	position: absolute;
	top: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	display: none;
	padding-left: 400px;
	padding-right: 400px;

}
.modal-content {
	position: relative;
	width: 500px;
	height: 800px;
	background-color: white;
	border-radius: 4px;
	padding: 30px;
	margin: 0px;
	padding-top: 10px;
}

.modal-content button {
	float: right;
	
}   		
.modal-content th {
	font-size: 14px;
}
