
.container {
	width: 90%;
	display: flex;
	flex-direction: row;
	flex-flow: wrap;
}
.box1 p {
	
	font-size: 14px;
	margin-bottom: 10px;
	padding-top: 7px
}
.box2 p {
	
	font-size: 13px;
	margin-bottom: 10px;
	padding-top: 7px
}
.box1 {
	width: 26%;
	height: 430px;
	background: white;
	margin: 5px;
	box-sizing: border-box;
	font-size: 18px;
	padding: 11px;
	margin-left: 0px;
	margin-top: 12px;
	border: 1px solid #D3D3D3;
	
	
}

.box2 {
	width: 69%;
	height: 430px;
	background: white;
	box-sizing: border-box;
	font-size: 18px;
	padding: 11px;
	margin: 3px;
	margin-top: 12px;
	border: 1px solid #D3D3D3;
}
@media screen and (max-width: 1200px) {
	.box1{
		width: 40%;
	}
}
@media screen and (max-width: 600px) {
	.box1{
		width: 90%;
	}
}

@media screen and (max-width: 1200px) {
	.box2{
		width: 40%;
	}
}
@media screen and (max-width: 900px) {
	.box2{
		width: 100%;
	}
}
.box1 span {
	font-size: 15px;
}

.container .inputBox input {
	width: 100%;
	height: 35px;
	margin-bottom: 20px;
	border: 1px solid #B8B8B8;
	outline: none;
}
input[type=text]:focus {
	border-color: #1E90FF;
}
.wrap .search input {
	width: 25%;
	height: 33px;
	border: 0px;
	border-bottom: 1px solid #B8B8B8;
	outline: none;
	margin: 0px;
	padding: 0px;
}
.wrap {
	padding-bottom: 50px;
}
/*table style */
table, th, td {
  border-bottom: 1px solid #B8B8B8;
}

th {
	font-size: 12px;
}
.table {
	padding-top: 20px;

}
.avatar {
  vertical-align: middle;
  width: 160px;
  height: 150px;
 
  display: block;
  margin-left: auto;
  margin-right: auto;
}