p {
	font-size: 14px;
	margin: 0px;
	padding: 0px;
}
select {
	width: 500px;
	padding: 0px;
	border: 0px;
	border-bottom: 1px solid #D3D3D3;
	outline: none;
}
#select {
	font-size: 14px;
}

.position {
	
	padding-bottom: 10px;
}

.position1 {
	
	position: absolute; right: 35px;

}
