
.container {
	width: 90%;
	display: flex;
	flex-direction: row;
	flex-flow: wrap;
}
.box2 {
	width: 93%;
	height: 1125px;
	background: white;
	box-sizing: border-box;
	font-size: 18px;
	padding: 11px;
	margin: 0px;
	margin-top: 12px;
	border: 1px solid #D3D3D3;
}
@media screen and (max-width: 1200px) {
	.box1{
		width: 40%;
	}
}
@media screen and (max-width: 600px) {
	.box1{
		width: 90%;
	}
}

@media screen and (max-width: 1200px) {
	.box2{
		width: 40%;
	}
}
@media screen and (max-width: 900px) {
	.box2{
		width: 100%;
	}
}
.box1 span {
	font-size: 15px;
}

.container .inputBox input {
	width: 100%;
	height: 35px;
	margin-bottom: 20px;
	border: 1px solid #B8B8B8;
	outline: none;
}
input[type=text]:focus {
	border-color: #1E90FF;
}
.wrap .search input {
	width: 20%;
	height: 33px;
	border: 0px;
	border-bottom: 1px solid #B8B8B8;
	outline: none;
	margin: 0px;
	padding: 0px;
}
.wrap {
	padding-bottom: 50px;
}
/*table style */
th {
  border-bottom: 1px solid #B8B8B8;
}

th {
	font-size: 13px;
}
.table {
	padding-top: 20px;
}
td {
	font-size: 13px;
	padding: 10px;
}
@media print {
    .fa-inverse {
        color: #fff !important;
    }
}

.position p {
	font-size: 14px;
	margin: 0px;
	padding: 0px;
	padding-bottom: 6px;
}
.position1 p {
	font-size: 14px;
	margin: 0px;
	padding: 0px;
	padding-bottom: 6px;
}

select {
	width: 510px;
	padding: 0px;
	border: 0px;
	border-bottom: 1px solid #D3D3D3;
	outline: none;
}
#select {
	font-size: 14px;
}

.position {
	position: absolute;
}

.position1 {
	
	position: absolute; right: 20px;
}

input {
	padding-right: 5px;
}



