
.container {
	width: 90%;
	display: flex;
	flex-direction: row;
	flex-flow: wrap;
}


.box2 {
	width: 96%;
	height: 450px;
	background: white;
	box-sizing: border-box;
	font-size: 18px;
	padding: 11px;
	margin: 0px;
	margin-top: 10px;
	border: 1px solid #D3D3D3;
}
@media screen and (max-width: 1200px) {
	.box1{
		width: 40%;
	}
}
@media screen and (max-width: 600px) {
	.box1{
		width: 90%;
	}
}

@media screen and (max-width: 1200px) {
	.box2{
		width: 40%;
	}
}
@media screen and (max-width: 900px) {
	.box2{
		width: 100%;
	}
}
.box1 span {
	font-size: 15px;
}

.container .inputBox input {
	width: 100%;
	height: 35px;
	margin-bottom: 20px;
	border: 1px solid #B8B8B8;
	outline: none;
}
input[type=text]:focus {
	border-color: #1E90FF;
}
.wrap .search input {
	width: 20%;
	height: 33px;
	border: 0px;
	border-bottom: 1px solid #B8B8B8;
	outline: none;
	margin: 0px;
	padding: 0px;
}
.wrap {
	padding-bottom: 50px;
}
/*table style */
th {
  border-bottom: 1px solid #B8B8B8;
}

th {
	font-size: 13px;
}
.table {
	padding-top: 20px;
}
td {
	font-size: 13px;
}
@media print {
    .fa-inverse {
        color: #fff !important;
    }
}
.close {
	position: absolute;
	top: 1px;
	right: 30px;
	transform: rotate(45deg);
	margin: 0px
	padding: 0px;
}
.close  {
	font-size: 27px;
	float: left;
	right: 15px;

}

.bg-modal {
	width: 100%;
	height: 100%;
	background-color: rgb(0,0,0,0.7); 
	position: absolute;
	bottom: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	display: none;
	padding-right: 400px;
}

.modal-content {
	position: relative;
	width: 600px;
	height: 500px;
	background-color: white;
	border-radius: 4px;
	padding: 20px;
	margin: 0px;
	padding: 0px;
	padding-left: 10px;
	padding-top: 10px;
	position: relative;
	
}

input {
	width: 70%;
	height: 8%;
	outline: none;
}
.modal-content input {
	position: relative;
	float: right;
	right: 30px;
	position: absolute;
	border: 0px;
	border-bottom: 1px solid #B8B8B8;
	background-color: white;
}
.modal-content button {
	 position: relative;
	float: right;
	right: 30px;
	border-radius: 16px;
	top: 10px;
	margin: 5px;

}
.modal-content p {
	
	padding: 10px;
	margin: 0px;
}

.form-inline .form-group input[type=text] {
	width: 240px;
	border: 0px;
	border-bottom: 1px solid lightgrey;
}
input[type=text]:focus {
	border-color: #1E90FF;
}
	

.form-group {
	font-size: 14px;
	padding-bottom: 19px;
}
.form-inline .button {
	padding-bottom: : 4px;
}

.form-inline input[type=text]:focus {
	border-color: #1E90FF;
}
.button {
	color: white;
}
