
.container {
	width: 90%;
	display: flex;
	flex-direction: row;
	flex-flow: wrap;
}


.box2 {
	width: 96%;
	height: 440px;
	background: white;
	box-sizing: border-box;
	font-size: 17px;
	padding: 10px;
	margin: 0px;
	margin-top: 10px;
	border: 1px solid #D3D3D3;


}
@media screen and (max-width: 1200px) {
	.box1{
		width: 40%;
	}
}
@media screen and (max-width: 600px) {
	.box1{
		width: 90%;
	}
}

@media screen and (max-width: 1200px) {
	.box2{
		width: 40%;
	}
}
@media screen and (max-width: 900px) {
	.box2{
		width: 100%;
	}
}
.box1 span {
	font-size: 15px;
}

.container .inputBox input {
	width: 100%;
	height: 35px;
	margin-bottom: 20px;
	border: 1px solid #B8B8B8;
	outline: none;
}
input[type=text]:focus {
	border-color: #1E90FF;
}
.wrap .search input {
	width: 20%;
	height: 33px;
	border: 0px;
	border-bottom: 1px solid #B8B8B8;
	outline: none;
	margin: 0px;
	padding: 0px;
}
.wrap {
	padding-bottom: 50px;
}
/*table style */
th {
  border-bottom: 1px solid #B8B8B8;
}

th {
	font-size: 13px;
}
.table {
	padding-top: 20px;
}
td {
	font-size: 13px;
	padding: 10px;
}
@media print {
    .fa-inverse {
        color: #fff !important;
    }
}


.position p {
	font-size: 14px;
	margin: 0px;
	padding: 0px;
	padding-bottom: 0px;
	padding: 0px;
	margin: 0px;
	padding-top: 0px;

}


select {
	width: 510px;
	padding: 0px;
	border: 0px;
	border-bottom: 1px solid #D3D3D3;
	outline: none;
}
#select {
	font-size: 14px;
}

option {
	float: right;
}


input {
	padding-right: 5px;
}


.close {
	position: absolute;
	top: 7px;
	right: 30px;
	transform: rotate(45deg);
	margin: 0px
	padding: 0px;
}
.close  {
	font-size: 27px;
	float: left;
	right: 15px;
}

.bg-modal {
	width: 100%;
	height: 100%;
	background-color: rgb(0,0,0,0.7); 
	position: absolute;
	bottom: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	display: none;
	padding-right: 500px;
}
.modal-content {
	position: relative;
	width: 400px;
	height: 250px;
	background-color: solid white;
	border-radius: 4px;
	padding: 20px;
	margin: 10px;
	padding: 10px;
	bottom: 60px;
	padding-top: 10px;
}

input {
	width: 70%;
	height: 8%;
	outline: none;
}
.modal-content input {
	position: relative;
	float: right;
	right: 30px;
	position: absolute;
	border: 0px;
	border-bottom: 1px solid #B8B8B8;
	background-color: white;
}

.modal-content p {
	margin-left: 10px;
	margin: 0px;
	top: 20px;
}


.contact-form .position {
	display: inline-block;
	margin: 5px;

	
}
.contact-form .input-text {
	
	width: 300px;
	border-width:  0 0 1px 0;
	border-color: lightgrey;
	font-size: 15px;
	padding-bottom: 1px;
	height: 5px;


}
.contact-form .input-text:focus {
	outline: none;
	}

.contact-form {
	padding-left: 8%;
	padding-top: 10px;
	
}
.position {

}
label {
	font-size: 14px;
}