
.container {
	width: 90%;
	display: flex;
	flex-direction: row;
	flex-flow: wrap;
}


.box2 {
	width: 96%;
	height: 400px;
	background: white;
	box-sizing: border-box;
	font-size: 18px;
	padding: 11px;
	margin: 0px;
	margin-top: 12px;
	border: 1px solid #D3D3D3;
}
@media screen and (max-width: 1200px) {
	.box1{
		width: 40%;
	}
}
@media screen and (max-width: 600px) {
	.box1{
		width: 90%;
	}
}

@media screen and (max-width: 1200px) {
	.box2{
		width: 40%;
	}
}
@media screen and (max-width: 900px) {
	.box2{
		width: 100%;
	}
}
.box1 span {
	font-size: 15px;
}

.container .inputBox input {
	width: 100%;
	height: 35px;
	margin-bottom: 20px;
	border: 1px solid #B8B8B8;
	outline: none;
}
input[type=text]:focus {
	border-color: #1E90FF;
}
.wrap .search input {
	width: 20%;
	height: 33px;
	border: 0px;
	border-bottom: 1px solid #B8B8B8;
	outline: none;
	margin: 0px;
	padding: 0px;
}
.wrap {
	padding-bottom: 50px;
}
/*table style */
th {
  border-bottom: 1px solid #B8B8B8;
}

th {
	font-size: 13px;
}
.table {
	padding-top: 20px;
}
td {
	font-size: 13px;
}
@media print {
    .fa-inverse {
        color: #fff !important;
    }
}
.close {
	position: absolute;
	top: 1px;
	right: 30px;
	transform: rotate(45deg);
	margin: 0px
	padding: 0px;
}
.close  {
	font-size: 27px;
	float: left;
	right: 15px;

}

.bg-modal {
	width: 100%;
	height: 100%;
	background-color: rgb(0,0,0,0.7); 
	position: absolute;
	bottom: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	display: none;
	padding-right: 400px;
}
.modal-content {
	position: relative;
	width: 600px;
	height: 500px;
	background-color: white;
	border-radius: 4px;
	padding: 20px;
	margin: 0px;
	padding: 0px;
	padding-left: 10px;
	padding-top: 10px;
	position: relative;
	
}


.modal-content input {
	position: relative;
	float: right;
	right: 30px;
	position: absolute;
	border: 0px;
	border-bottom: 1px solid #B8B8B8;
	background-color: white;
}
.modal-content button {
	position: absolute;
	 left: 515px;
	top: 440px;
}
.modal-content p {
	
	padding: 10px;
	margin: 0px;

}
.form-style-9{
	max-width: 1100px;
	padding: 30px;
	margin: 50px auto;

	border-radius: 1px;
	border: 0px solid #305A72;
}
.form-style-9 ul{
	padding:0;
	margin:0;
	list-style:none;
}
.form-style-9 ul li{
	display: block;
	margin-bottom: 10px;
	min-height: 35px;
}
.form-style-9 ul li  .field-style{
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	padding: 8px;
	outline: none;
	border: 1px solid lightgrey;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;

}.form-style-9 ul li  .field-style:focus{
	box-shadow: 0 0 5px #B0CFE0;
	border:1px solid #B0CFE0;
}
.form-style-9 ul li .field-split{
	width: 49%;
}
.form-style-9 ul li .field-full{
	width: 100%;
}
.form-style-9 ul li input.align-left{
	float:left;
}
.form-style-9 ul li input.align-right{
	float:right;
}
.form-style-9 ul li textarea{
	width: 100%;
	height: 100px;
}
.form-style-9 ul li input[type="button"], 
.form-style-9 ul li input[type="submit"] {
	-moz-box-shadow: inset 0px 1px 0px 0px #3985B1;
	-webkit-box-shadow: inset 0px 1px 0px 0px #3985B1;
	box-shadow: inset 0px 1px 0px 0px #3985B1;
	background-color: #216288;
	border: 1px solid #17445E;
	display: inline-block;
	cursor: pointer;
	color: #FFFFFF;
	padding: 8px 18px;
	text-decoration: none;
	font: 12px Arial, Helvetica, sans-serif;
}
.form-style-9 ul li input[type="button"]:hover, 
.form-style-9 ul li input[type="submit"]:hover {
	background: linear-gradient(to bottom, #2D77A2 5%, #337DA8 100%);
	background-color: #28739E;
}