.letter {
  height: 200px;
  width: 150px;
  float: left ;
    margin-left: 900px;

}

.letter p{
	margin-top: 10px;
	
}
p {
	line-height: 40px;
	font-weight: bold;

}

.input {
	height: 300px;
	width: 150px;
	float: left;
}



.input input[type="text"] {

	margin-top: 18px;
	margin-right: 5px;
	width: 90px;
	text-align: center;

	font-weight: bolder;
}


.input input[type="text"]:hover:after {

	margin-top: 18px;
	margin-right: 5px;
	width: 90px;

	
input {
	margin-bottom: 10px;
}


.line1 {
	margin-left: 20px;
	margin-top: 10px; 
	height: 350px;
	width: 330px;

	border-radius: 20px;

}
