

p {
	line-height: 40px;
	font-weight: bold;

}



.input input[type="text"]:hover:after {

	margin-top: 18px;
	margin-right: 5px;
	width: 90px;

}

.tuition {
	display: inline-block;
	padding-right: 10px;


}
.tuition input[type="text"] {

	margin-top: 20px;
	margin-right: 5px; 
	width: 140px; 
	text-align: center;
	height: 32px; 
	font-weight: bolder;
 	margin-bottom: 0px; 
}

.tuition p {
	padding-left: 0px;
	 padding-right: 10px;

}

.alignment {
	padding-left: 15px;
}
thead {
	text-align: center;
}
