

.letter {
  height: 180px;
  width: 150px;
  float: left ;
  margin-left: 11px;

}

.letter p{
	margin-top: 10px;
	
}

p {
	line-height: 40px;
	font-weight: bold;

}

.input {
	height: 90px;
	width: 150px;
	float: left;
}



.input input[type="text"] {

	margin-top: 18px;
	margin-right: 5px;
	width: 90px;
	text-align: center;
	font-weight: bolder;
}


.input input[type="text"]:hover:after {

	margin-top: 18px;
	margin-right: 5px;
	width: 90px;

}

.tuition {
	display: inline-block;
	padding-right: 20px;


}
.tuition input[type="text"] {

	margin-top: 10px;
	margin-right: 10px; 
	width: 140px; 
	text-align: center;
	height: 32px; 
	font-weight: bolder;
 	margin-bottom: 1px; 
}

.tuition p {
	padding-left: 0px;
	 padding-right: 10px;

}

.alignment {
	padding-left: 100px;
}
thead {
	text-align: center;
}
